<!--The content below is only a placeholder and can be replaced.-->

<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-6" id="map"></div>

    <div class="col">
      <button (click)="toggle()" class="btn btn-success">{{buttonName}}</button>
      <button (click)="saturation()" class="btn btn-success">Saturación</button>
      <input [(ngModel)]="storekeeperId" type="number" placeholder="Id del Rappitendero">
      <button (click)="recomendation()" class="btn btn-success">Recomendación</button>

      <div style="margin-top: 30px" *ngIf="saturationOn">
        {{saturationTimestamp}}
        <div class="form-group">
          <label for="date">Fecha</label>
          <input [(ngModel)]="saturationDate" (change)="update()" type="date" class="form-control" id="date" name="date" required>
        </div>
        <div class="form-group">
          <label for="time">Hora</label>
          <input [(ngModel)]="saturationTime" (change)="update()" type="time" class="form-control" id="time" name="time" required [step]="1800">
        </div>
      </div>
      <div style="margin-top: 30px" *ngIf="!saturationOn">
        <div *ngIf="!toggleButton">
          <h1>Rappitenderos</h1>
          <form (submit)="filterByStorekeeper()">

            <!--<p>{{getStorekeepersDiagnostic() + '\n' + storekeeperDate.toLocaleString() + '\n' + storekeeperTime.toLocaleString()}}</p>-->

            <div class="form-group">
              <label for="date">Fecha</label>
              <input [(ngModel)]="storekeeperDate" (change)="update()" type="date" class="form-control" id="date" name="date" required>
            </div>
            <div class="form-group">
              <label for="time">Hora</label>
              <input [(ngModel)]="storekeeperTime" (change)="update()" type="time" class="form-control" id="time" name="time" required [step]="1800">
            </div>
            <div class="row">
              <div class="form-group col">
                <label for="bike">Bicicleta</label>
                <input [(ngModel)]="storekeeperFilter.bike" type="checkbox" class="form-control" id="bike" name="bike">
              </div>
              <div class="form-group col">
                <label for="motorcycle">Moto</label>
                <input [(ngModel)]="storekeeperFilter.motorcycle" type="checkbox" class="form-control" id="motorcycle" name="motorcycle">
              </div>
            </div>
            <div class="form-group">
              <label for="geohash">Geohash</label>
              <input [(ngModel)]="storekeeperFilter.geohash" type="text" class="form-control" id="geohash" name="geohash">
            </div>
            <button type="submit" class="btn btn-success">Buscar</button>
          </form>
        </div>

        <div *ngIf="toggleButton">
          <h1>Órdenes</h1>

          <!--<p>{{getOrdersDiagnostic() + '\n' + orderDate.toLocaleString() + '\n' + orderTime.toLocaleString()}}</p>-->

          <form (submit)="filterByOrder()">
            <div class="form-group">
              <label for="date">Fecha</label>
              <input [(ngModel)]="orderDate" (change)="update()" type="date" class="form-control" id="date" name="date" required>
            </div>
            <div class="form-group">
              <label for="time">Hora</label>
              <input [(ngModel)]="orderTime" (change)="update()" type="time" class="form-control" id="time" name="time" required [step]="1800">
            </div>
            <div class="row">
              <div class="form-group col">
                <label for="bike">Bicicleta</label>
                <input [(ngModel)]="orderFilter.bike" type="checkbox" class="form-control" id="bike" name="bike">
              </div>
              <div class="form-group col">
                <label for="motorcycle">Moto</label>
                <input [(ngModel)]="orderFilter.motorcycle" type="checkbox" class="form-control" id="motorcycle" name="motorcycle">
              </div>
            </div>
            <div class="row">
              <div class="form-group col">
                <label for="restaurant">Restaurante</label>
                <input [(ngModel)]="orderFilter.restaurant" type="checkbox" class="form-control" id="restaurant" name="restaurant">
              </div>
              <div class="form-group col">
                <label for="mercado">Mercado</label>
                <input [(ngModel)]="orderFilter.mercado" type="checkbox" class="form-control" id="mercado" name="mercado">
              </div>
              <div class="form-group col">
                <label for="rappicash">Rappicash</label>
                <input [(ngModel)]="orderFilter.ultraservicio" type="checkbox" class="form-control" id="rappicash" name="rappicash">
              </div>
              <div class="form-group col">
                <label for="courier">Rappifavor</label>
                <input [(ngModel)]="orderFilter.courier" type="checkbox" class="form-control" id="courier" name="courier">
              </div>
              <div class="form-group col">
                <label for="whim">Antojo</label>
                <input [(ngModel)]="orderFilter.whim" type="checkbox" class="form-control" id="whim" name="whim">
              </div>
              <div class="form-group col">
                <label for="express">Express</label>
                <input [(ngModel)]="orderFilter.express" type="checkbox" class="form-control" id="express" name="express">
              </div>
              <div class="form-group col">
                <label for="express-tablet">Express Tablet</label>
                <input [(ngModel)]="orderFilter.expressTablet" type="checkbox" class="form-control" id="express-tablet" name="express-tablet">
              </div>
            </div>
            <div class="form-group">
              <label for="geohash">Geohash</label>
              <input [(ngModel)]="orderFilter.geohash" type="text" class="form-control" id="geohash" name="geohash">
            </div>
            <button type="submit" class="btn btn-success">Buscar</button>
          </form>
        </div>
      </div>
      </div>

  </div>
</div>
